<%= form_for @user do |f| %>

  <%= render 'errors' %>

  <div class="row">
    <div class="field">
      <%= f.text_field :name, placeholder: "Name…" %>
    </div>
    <div class="field">
      <%= f.text_field :email, placeholder: "Email…" %>
    </div>
  </div>
  <div class="row">
    <div class="field">
      <%= f.password_field :password, placeholder: "Password…" %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password…" %>
    </div>
  </div>
  <div class="row">
    <%= button_tag(type: 'submit', class: "btn btn-success") do %>
      <% if !current_user %>
        Create Account
      <% else %>
        Save Changes
      <% end %>
    <% end %>
  </div>

<% end %>
