<h1>New User</h1>

<%= form_for @user do |f| %>

  <%= render 'flashes_errors' %>

  <div class="row">
    <div class="field col-md-3">
      <%= f.label "Name: " %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field col-md-3">
      <%= f.label "e-mail: " %><br>
      <%= f.text_field :email %>
    </div>
  </div>
  <div>
    <div class="field col-md-3">
      <%= f.label "Password: " %><br>
      <%= f.password_field :password %>
    </div>
    <div class="field col-md-3">
      <%= f.label "Confirm Password: " %><br>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <%= button_tag(type: 'submit', class: "btn btn-success") do %>
    Create Account
  <% end %>
<% end %>
