<h1>Hello, <%= @user.name %></h1>

<button><%= link_to "Edit Profile", edit_user_path(@user) %></button>

<h3>Favorite Comics</h3>
<ul>
  <% @user.favorite_comics.each do |comic| %>
    <li>
      <%= image_tag(comic.uri, height: '32', width: '32') %>
      <strong>
        <%= link_to "#{comic.name}", comic_path(comic) %>
      </strong> - <%= comic.created_at %>
    </li>
  <% end %>
</ul>
