<div class="container">
<h1>Edit Comic</h1>
<%= form_for @comic, html: { multipart: true }, url: user_comic_path(current_user, @comic.id), method: :put do |f| %>

  <%= render 'errors' %>

  <div>
      <div>
        <div>
          <%= f.label "name: " %><br>
          <%= f.text_field :name %>
        </div>
        <div>
          <%= f.label "image: " %><br>
          <%= f.file_field :image %>
        </div>
      </div>
    </div>

    <div class="actions btn">
      <%= f.submit %>
    </div>
    <%= link_to 'Back', "/users/#{ current_user.id }"%>
  </div>
<% end %>
</div>
