<h3>Archive</h3>

<ul>
  <% @comics.each do |comic| %>
    <li>
      <%= image_tag(comic.image.url(:thumb), height: '32', width: '32') %>
      <strong>
        <%= link_to "#{comic.name}", comic_path(comic) %>
      </strong> - <%= comic.created_at %>
      <% if current_user && current_user.admin? %>
        - <%= link_to "Edit", edit_user_comic_path(current_user, comic) %>
        <%= link_to "Delete", user_comic_path(current_user, comic), method: :delete, data: { confirm: "Are you sure you want to delete #{comic.name}?"} %>
      <% end %>
    </li>

  <% end %>
</ul>
