<!DOCTYPE html>
<html>
<head>
  <title>UselessComix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= image_tag 'useless_banner.png', class: "lead-banner" %>
  </div>
  <div class="nav-top-container">
    <ul class="nav-flex">
      <li class="nav-cell"><%= link_to 'Home', root_path, class: "remove-color" %></li>
      <% if current_user %>
        <li class="nav-cell"><u>Welcome <%= current_user.name %>!</u></li>
      <% end %>
      <li class="nav-cell empty-cell"></li>
      <li class="nav-cell"><%= link_to 'About', about_path, class: "remove-color" %></li>
      <li class="nav-cell"><%= link_to 'Archives', comics_path, class: "remove-color" %></li>
      <% if !current_user %>
        <li class="nav-cell"><%= link_to 'Login', login_path, class: "remove-color" %></li>
        <li class="nav-cell"><%= link_to 'Signup', new_user_path, class: "remove-color"  %></li>
      <% else %>
        <li class="nav-cell"><%= link_to 'Profile', user_path(current_user), class: "remove-color"  %></li>
        <li class="nav-cell"><%= link_to 'Logout', logout_path, method: :delete, class: "remove-color" %></li>
      <% end %>
    </ul>
  </div>
    <% flash.each do |type, message| %>
      <p class="flash <%= type.to_s %>"><%= message %></p>
    <% end %>

    <%= yield %>
</body>
</html>
