<!DOCTYPE html>
<html>
<head>
  <title>UselessComix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% flash.each do |type, message| %>
    <p class="flash <%= type.to_s %>"><%= message %></p>
  <% end %>
</div>

<%= yield %>

</body>
</html>
